.removeBtn{
    background:transparent;
    border: none;
    color:red;
}

.addBtn{
    background:transparent;
    border: none;
    color:greenyellow;
}

.addBtn:active{
    color:rgb(0, 117, 20)
}

.removeBtn:active{
    color: rgb(117, 0, 0);
}

.removeBtn:hover{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.addBtn:hover{
    text-shadow: -1px 0 rgb(0, 255, 0), 0 1px rgb(0, 255, 0), 1rgb(0, 255, 0)green, 0 rgb(0, 255, 0)green;
}

.track{
    border-bottom: 2px solid white;
    width: 50%;
    margin-left: 25%;
    justify-content: center;
}