.App {
  text-align: center;
  background:
  /* top, transparent black, faked with gradient */ 
  linear-gradient(
    rgba(70, 70, 70, 0.5), 
    rgba(70, 70, 70, 0.5)
  ),
  /* bottom, image */
  url('./Pictures/background-pic.jpg');
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.App-header {

  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.results {
  display: flex;
}

.playlist{
  flex-direction: column;
  width: 50%;
  justify-content: center;
  background-color:aquamarine;
  height: 100vh;
}

.searchresults {
  flex-direction: column;
  width:50%;
  justify-content: center;
  background-color:bisque;
  height: 100vh;
}