.App {
  text-align: center;
  background:
  /* top, transparent black, faked with gradient */ 
  linear-gradient(
    rgba(70, 0, 92, 0.7), 
    rgba(70, 0, 92, 0.7)
  ),
  /* bottom, image */
  url('./Pictures/background-pic.jpg');
  background-repeat: no-repeat;
background-size: cover;
  display: flex;
  flex-direction: column;
}


.App-header {

  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.results {
  display: flex;
}

.playlist{
  flex-direction: column;
  width: 50%;
  justify-content: center;
  min-height: 80vh;
}

.searchresults {
  flex-direction: column;
  width:50%;
  justify-content: center;
  min-height: 80vh;
}